*{
	font-family: "helvetica", sans-serif;
	font-size: 16px;
}

#headstyle{
	text-align: center;
}

nav{
	background-color: hsla(0,0%,85%,0.5);
	text-align: center;
		border-top: 1px solid black;
}

table thead tr:first-child, tfoot{
	border: 2px double hsla(0,0%,50%,0.5);
	/*background-color: hsla(0,0%,85%,0.5);*/
}

tfoot{
	background-color: hsla(0,0%,85%,0.5);
}

article{
	margin-top: 1em;
	margin-bottom: 2em;
}

footer p{
	text-align: center;
}


/*!important*/