<!-- Add Item Modal -->
<div class="modal fade" id="AddModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Device to Inventory</h4>
      </div>
      <div class="modal-body">
        <form>
          <!--Radio Boxes for Inventory-->
          <h5>Status</h5>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="StatusStorage" name="RadioStatus" class="custom-control-input" value="Onhand">
            <label class="custom-control-label" for="StatusStorage">On-hand</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="StatusInbound" name="RadioStatus" class="custom-control-input" value="Inbound">
            <label class="custom-control-label" for="StatusInbound">Inbound</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="StatusOutbound" name="RadioStatus" class="custom-control-input" value="Outbound">
            <label class="custom-control-label" for="StatusOutbound">Outbound</label>
          </div>
          <div>&nbsp;</div>
          <h5>Part</h5>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="PartSpare" name="RadioPart" class="custom-control-input" value="Spare">
            <label class="custom-control-label" for="PartSpare">Spare</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="PartRecycling" name="RadioPart" class="custom-control-input" value="Recycling">
            <label class="custom-control-label" for="PartRecycling">Recycling</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="PartReplacement" name="RadioPart" class="custom-control-input" value="Replacement">
            <label class="custom-control-label" for="PartReplacement">Replacement</label>
          </div>
          <div>&nbsp;</div>
          <div class="form-group">
            <label for="FormType">
              <h5>Device</h5>
            </label>
            <select id="FormType" class="form-control">
              <option value="Router">Router</option>
              <option value="Switch">Switch</option>
              <option value="Firewall">Firewall</option>
              <option value="AccessPoint">Access Point</option>
              <option value="LoadBalancer">Load Balancer</option>
              <option value="OtherPart">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="FormManufacturer">
              <h5>Manufacturer</h5>
            </label>
            <input type="text" class="form-control" id="FormManufacturer" placeholder="Manufacturer">
          </div>
          <div class="form-group">
            <label for="FormModel">
              <h5>Model</h5>
            </label>
            <input type="text" class="form-control" id="FormModel" placeholder="Model Number">
          </div>
          <div class="form-group">
            <label for="FormSerial">
              <h5>Serial</h5>
            </label>
            <input type="text" class="form-control" id="FormSerial" placeholder="Serial Number">
          </div>
          <div class="form-group" id="ToggleRMA">
            <label for="FormRMA">
              <h5>RMA</h5>
            </label>
            <input type="text" class="form-control" id="FormRMA" placeholder="RMA Number">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal" id="SubmitButton" value="Submit">Add</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Scan</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>