<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light">
    <ul class="nav nav-tabs mr-auto">
      <a class="navbar-brand" href="https://github.com/dc820/Inventory-Control-System"  target="_blank">ICMS</a>
      <li class="nav-item" *ngFor="let tab of tabs">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/' + tab.path" [id]="tab.id">{{ tab.name }}</a>
      </li>
    </ul>
      
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-light btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</div>