<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="https://github.com/dc820/Inventory-Control-System"  target="_blank">ICMS</a>
    <ul class="nav nav-tabs mr-auto">
      <li class="nav-item" *ngFor="let tab of tabs; let i = index">
        <a class="nav-link" href="#" [id]="tabs[i].id" [ngClass]="{active: tabs[i].active === true}" (click)="onNavTab($event)">{{ tabs[i].name }}</a>
      </li>
    </ul>
      
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-light btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</div>