<mat-toolbar color="primary">
  <!--MENU-->
  <button mat-button [matMenuTriggerFor]="menu">
    <i class="material-icons md-18">menu</i>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
    *ngFor="let tab of tabs"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="'/' + tab.path"
    [id]="tab.id">{{ tab.name }}</button>
</mat-menu>

<button class="full" mat-raised-button
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
  routerLink="">Home</button>
</mat-toolbar>
