<mat-toolbar color="primary" class="show-mobile">
  <!--MENU-->
  <button mat-button [matMenuTriggerFor]="menu">
    <i class="material-icons md-18">menu</i>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
    *ngFor="let tab of tabs"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="'/' + tab.path"
    [id]="tab.id">{{ tab.name }}</button>
  </mat-menu>

  <button class="full" mat-raised-button
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    routerLink="">Home</button>

</mat-toolbar>

<mat-toolbar color="primary" class="hide-mobile">
  <img *ngIf="!userIsAuthenticated" src="https://upload.wikimedia.org/wikipedia/en/4/4f/PSEG_logo.svg" alt="PSEG Inventory Report">
  <a *ngIf="userIsAuthenticated" [routerLink]="'/'"><img src="https://upload.wikimedia.org/wikipedia/en/4/4f/PSEG_logo.svg" alt="PSEG Inventory Report"></a>

  <div *ngIf="userIsAuthenticated">
    <button mat-raised-button color="primary"
      *ngFor="let tab of tabs"
      routerLinkActive="mat-accent"
      [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="'/' + tab.path"
      [id]="tab.id">{{ tab.name }}</button>
    </div>
    <button *ngIf="!userIsAuthenticated" mat-raised-button color="primary" routerLinkActive="mat-accent" [routerLink]="'/login'">Login</button>
    <button *ngIf="!userIsAuthenticated" mat-raised-button color="primary" routerLinkActive="mat-accent" [routerLink]="'/signup'">Signup</button>

  <button *ngIf="userIsAuthenticated" mat-raised-button color="primary" (click)="onLogout()">Logout</button>

</mat-toolbar>
