<mat-toolbar color="primary" class="hide-mobile">
  <img *ngIf="!userIsAuthenticated" src="https://upload.wikimedia.org/wikipedia/en/4/4f/PSEG_logo.svg" alt="PSEG Inventory Report">
  <a *ngIf="userIsAuthenticated" [routerLink]="'/'"><img src="https://upload.wikimedia.org/wikipedia/en/4/4f/PSEG_logo.svg" alt="PSEG Inventory Report"></a>
  <div *ngIf="userIsAuthenticated">
  <button mat-raised-button
    *ngFor="let tab of tabs"
    routerLinkActive="mat-primary"
    [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="'/' + tab.path">{{ tab.name }}</button>
  </div>
  <span *ngIf="!userIsAuthenticated"></span>
  <button *ngIf="!userIsAuthenticated" mat-raised-button routerLinkActive="mat-primary" [routerLink]="'/login'">Login</button>
  <button *ngIf="!userIsAuthenticated" mat-raised-button routerLinkActive="mat-primary" [routerLink]="'/signup'">Signup</button>

  <span *ngIf="userIsAuthenticated"></span>
  <button *ngIf="userIsAuthenticated" mat-raised-button color="warn" routerLinkActive="mat-primary" (click)="onLogout()">Logout</button>

</mat-toolbar>
