span {
  flex: 1 1 auto;
}

a {
  margin-left: 3rem;
  margin-right: 7rem;
}

@media only screen and (max-device-width: 480px) {
  .hide-mobile {
    display: none;
  }
}

@media only screen and (min-device-width: 481px) {
  .show-mobile {
    display: none;
  }
}

button {
  margin-right: 1rem;
  margin-bottom: 6px;
}
