<div class="row">
  <div class="col-md-10 offset-md-1">
	<br>
	<header><h5>Inventory Table</h5></header>
    <table class="table table-striped border table-responsive-xl">
			<thead>
				<tr>
					<th scope="col" *ngFor="let heading of headings"><a href="#">{{ heading }}&nbsp;<i class="fas fa-caret-up"></i></a></th>
				<tr>
			</thead>
			<tbody>
				<tr *ngFor="let row of deviceGroup" [id] = "">
					<td>
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" [id]="">
							<label class="custom-control-label" [for]="">{{ row.type }}</label>
						</div>
					</td>
					<td>{{ row.model }}</td>
					<td>{{ row.manufacturer }}</td>
					<td>{{ row.start }}</td>
					<td>{{ row.recieved }}</td>
					<td>{{ row.shipped }}</td>
					<td>{{ row.onhand }}</td>
					<td>{{ row.minimum }}</td>

					<!--INSERT HTML HERE FOR OPENING DEVICE GROUP TO SHOW INDIVIDUAL DEVICES-->

				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="100%">
						<a *ngFor="let button of footing" [routerLink]="'/'+button.id" [id]="button.id" (click)="selectOption(button.id, content)"><i [class]="button.icon"></i></a>
					</td>
				</tr>
			</tfoot>
		</table>
		<ng-template #content let-modal>
			<router-outlet></router-outlet>
		</ng-template>
  </div>
</div>
