<!--Modal Content-->
  <div class="modal-header">
    <h4 class="modal-title">Add Device to Inventory</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form (ngSubmit)="onSubmit(addForm)" #addForm="ngForm">
    <div class="modal-body">
      <!--Status Form Group-->
      <h5>Status</h5>
      <div class="form-group">
      <div class="custom-control custom-radio custom-control-inline" *ngFor="let option of status">
        <input 
          class="custom-control-input" 
          type="radio" 
          name="RadioStatus" 
          [value]="option.value" 
          [id]="option.id" 
          [ngModel]="defaultStatus"
          required>
        <label class="custom-control-label" [for]="option.id">{{ option.value }}</label>
      </div>
    </div>
      <!--Status Form Group-->
      <h5>Part Type</h5>
      <div class="form-group">
        <div class="custom-control custom-radio custom-control-inline" *ngFor="let option of part">
          <input 
            class="custom-control-input" 
            type="radio" 
            name="RadioPart"
            [id]="option.id" 
            [value]="option.value"
            [ngModel]="defaultPart"
            required>
          <label class="custom-control-label" [for]="option.id">{{ option.value }}</label>
        </div>
      </div>
      <!--Devices Form Group-->
      <div class="form-group">
        <label for="FormDevice">
          <h5>Device</h5>
        </label>
        <select id="FormDevice" class="form-control" [ngModel]="defaultDevice" name="device" required>
          <option [value]="option.value" *ngFor="let option of device">{{ option.value }}</option>
        </select>
      </div>
      <!--Manufacturer Form Group-->
      <div class="form-group">
        <label for="FormManufacturer">
          <h5>Manufacturer</h5>
        </label>
        <input 
          class="form-control" 
          type="text" 
          id="FormManufacturer"
          placeholder="Manufacturer"
          name="manufacturer"
          [ngModel]="defaultManufacturer"
          required>
      </div>
      <!--Model Form Group-->
      <div class="form-group">
        <label for="FormModel">
          <h5>Model</h5>
        </label>
        <input 
          class="form-control"
          type="text"  
          id="FormModel" 
          placeholder="Model Number"
          name="model"
          ngModel
          required>
          <span class="help-block">Enter Model Number</span>
      </div>
      <!--Serial Form Group-->
      <div class="form-group">
        <label for="FormSerial">
          <h5>Serial</h5>
        </label>
        <input 
          class="form-control"
          type="text" 
          id="FormSerial" 
          placeholder="Serial Number"
          name="serial"
          ngModel
          required
          #serial="ngModel">
          <span class="help-block">Enter Serial Number</span>
      </div>
      <!--RMA Form Group-->
      <div class="form-group" id="ToggleRMA">
        <label for="FormRMA">
          <h5>RMA</h5>
        </label>
        <input 
          class="form-control"
          type="text" 
          id="FormRMA" 
          placeholder="RMA Number"
          name="rma"
          ngModel>
          <span class="help-block">Enter RMA If Applicable</span>
      </div>

      <!--INSERT HTML HERE FOR TEXT AREA TO ADD NOTES-->

    </div>
    
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" data-dismiss="modal" id="SubmitButton" value="Submit" [disabled]="!addForm.valid">Add</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Scan</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
    <h4 *ngIf="!addForm.valid && addForm.touched">Fields Still Required</h4>
  </form>