tr.detail-row {
  height: 0;
  background-color: whitesmoke;
}

tr.deviceGroup-row:not(.deviceGroup-expanded-row):hover {
  background: whitesmoke;
}

tr.deviceGroup-row:not(.deviceGroup-expanded-row):active {
  background: #efefef;
  width: 100vw;
}

td.mat-cell {
  width: 100vw;
}

div div p {
  display: inline;
  margin: 0;
  padding: 0px;
  font-size: 12px;
  line-height: 1.25em;
  white-space: pre-wrap;
  text-align: left;
}

.table-container {
  max-height: 60vh;
  overflow: auto;
}

.mat-form-field {
  width: 100%;
}

.mat-column-select {
  overflow: initial;
}

.deviceGroup-detail {
  overflow: hidden;
}

.nested-table tr td{
  border: 1px solid black;
  width: 200px;
}



/**
border: 1px solid red;
*/
