tr.detail-row {
  height: 0;
  background-color: whitesmoke;
}

tr.deviceGroup-row:not(.deviceGroup-expanded-row):hover {
  background: whitesmoke;
}

tr.deviceGroup-row:not(.deviceGroup-expanded-row):active {
  background: #efefef;
  width: 100vw;
}

td {
  width: 20vw;
}

div > div > h5 {
  font-size: 14px;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

td > div > div {
  display: block;
  min-width: 24vw;
}

mat-checkbox div {
  width: 225px;
  display: inline-block;
}

div div p {
  margin: 0;
  padding: 0px;
  font-size: 12px;
  width: inherit;
  height: 14px;
  line-height: 1.25em;
  white-space: pre-wrap;
  text-align: left;
}

th > mat-checkbox, td > mat-checkbox {
  padding-right: 32px;
}

.table-container {
  max-height: 60vh;
  overflow: auto;
}

.deviceGroup-row {
  border-bottom-width: 0;
}

.deviceGroup-detail {
  overflow: hidden;
  display: flex;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.device-info {
  margin: 0.25em;
  padding: 0.25em 0.50em 0em 0.25em;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}
